In [32]:
import numpy as np
import gensim
import pandas as pd

import sys
reload(sys)
sys.setdefaultencoding('utf8')

In [15]:
train_orders = pd.read_csv("./order_products__train.csv")
#prior_orders = pd.read_csv("./order_products__prior.csv")
products = pd.read_csv("./products.csv")

In [16]:
train_orders.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [17]:
train_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
order_id             1384617 non-null int64
product_id           1384617 non-null int64
add_to_cart_order    1384617 non-null int64
reordered            1384617 non-null int64
dtypes: int64(4)
memory usage: 42.3 MB

In [18]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [19]:
train = pd.merge(train_orders, products, how='left', on='product_id')
#prior = pd.merge(prior_orders, products, how='left', on='product_id')

In [20]:
train.head(10)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,1,49302,1,1,Bulgarian Yogurt,120,16
1,1,11109,2,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16
2,1,10246,3,0,Organic Celery Hearts,83,4
3,1,49683,4,0,Cucumber Kirby,83,4
4,1,43633,5,1,Lightly Smoked Sardines in Olive Oil,95,15
5,1,13176,6,0,Bag of Organic Bananas,24,4
6,1,47209,7,0,Organic Hass Avocado,24,4
7,1,22035,8,1,Organic Whole String Cheese,21,16
8,36,39612,1,0,Grated Pecorino Romano Cheese,2,16
9,36,19660,2,1,Spring Water,115,7

In [21]:
train_products = train.groupby("order_id").apply(lambda order : order['product_name'].tolist())

In [22]:
train_products.head()

order_id
1     [Bulgarian Yogurt, Organic 4% Milk Fat Whole M...
36    [Grated Pecorino Romano Cheese, Spring Water, ...
38    [Shelled Pistachios, Organic Biologique Limes,...
96    [Roasted Turkey, Organic Cucumber, Organic Gra...
98    [Natural Spring Water, Organic Orange Juice Wi...
dtype: object

In [23]:
#prior_products = prior.groupby("order_id").apply(lambda order : order['product_name'].tolist())

In [24]:
#prior_products.head()

In [27]:
longest = np.max(train_products.apply(len))
sentences = train_products.values

In [28]:
len(sentences)

131209

In [30]:
model_word2vec = gensim.models.Word2Vec(sentences, size=100, window=longest,min_count=2,workers=4)

In [40]:
model_fasttext = gensim.models.FastText(sentences[:10000], size=100, window=longest,min_count=2,workers=4, sg=1)

In [34]:
model_word2vec.save("word2vec.model")
model_fasttext.save("fasttext.model")

In [44]:
model_fasttext.wv.most_similar(positive=['lime', 'lemon'], topn=3)

[('Red Wax Gouda', 0.9897702932357788),
 ('Finely Ground Natural Almond Meal', 0.9874746799468994),
 ('Lite Honey Mustard Vinaigrette Dressing Lite', 0.9871262311935425)]